  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Roboto:ital,wght@1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Pacifico&display=swap');

body {
 padding: 0;
 margin: 0;
 background:url(/Media/imgaes/fondbody.jpg) fixed repeat;
 background-size: cover;
 font-family:  'Roboto', sans-serif;
 scroll-behavior:smooth;
}

#btnbars , #btntimes { 
  display: none;
}

/* Pre header */

li {
 list-style: none;
 color: #fff;
}

li a {
 text-decoration: none;
}

#prevInfo {
 padding: 8px 50px 50px 0;
 height: 20px;
 background-color: #081f37;
}

#prevInfo li {
 margin: 20px ;
}

i {
  margin: 0 10px 10px 0;
}

#prevInfo li a {
 color: #fff;
 font-size: larger;
}

#Horaire {
 float: left;
 font-family: 'Dancing Script', cursive;
}

#gmail ,#numero {
 float: right;
 font-family: 'Roboto', sans-serif;
}

/* Header */

header {
position: sticky;
top: 0;
height: 60px;
z-index: 20;
padding-top: 20px;
background-color: #ffffffbe;
border-bottom: #f31414 solid 1px;
}

.iconleft {
 float: left;
}

.iconleft i {
 color: #081f37;
}

html {
  scroll-behavior: smooth;
}

header li{
 float: right;
 margin-right: 10px;
}

#service ,#boutiques,#reservation,#contacter,#Accueil {
  border: red 1px solid;
  padding: 5px;
  border-radius: 10px;
}
header li a {
  color: #081f37;
  font-family: 'Roboto', sans-serif;
}

header li i {
  font-size: larger;
}

#zoneAccueil {
 background: url(/Media/imgaes/imagez.jpg) no-repeat fixed ;
 background-size: cover;
 height: 100vh;
}

#zoneAccueil h1 {
  position: absolute;
  left: 38%;
  top: 30%;
 font-size: 50px;
 color: rgb(218, 38, 38);
 background-color: #081f37;
 padding: 10px;
 border-radius: 30px;
}

/* Services */

#services {
 margin-top: -20px;
 padding-bottom: 100px;
 height: auto;
 background-color: #fff;
 box-shadow: -1px -2px 45px 9px rgba(0,0,0,0.5) inset;
 -webkit-box-shadow: -1px -2px 45px 9px rgba(0,0,0,0.5) inset;
 -moz-box-shadow: -1px -2px 45px 9px rgba(0,0,0,0.5) inset;
}

#services h1 {
 text-align: center;
 font-family: 'robocup' , sans-serif;
 padding-top: 10px;
}

#sectionCards {
 display: flex;
 flex-wrap: wrap;
}

.sectionCard {
  position: relative;
 width: 22%;
  margin: 1.5%;
}

.sectionCard p {
 text-align: center;
}

.sectionCard h2 {
 text-align: center;
}

.sectionCard img {
 width: 80%;
 height: 50%;
 border-radius: 30%;
 border: #081f37 solid  1px;
 box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
transition: 0.5s;
}

.sectionCard img:hover {
  border-radius: 35%;
}

/* equipe */

#equipe {
 display: flex;
 background-color: #081f37;
 padding-top: 30px;
 color: #fff;
 height: 50vh;
 padding-bottom: 15px;

}

#apropos {
 width: 50%;
 padding: 20px;
}

#popular {
 width: 50%;
}

.popmodes {
 width: 100%;
 display: flex;
 flex-direction: row;
}

#popular .popmode {
 width: auto;
 height: 15vw ;
 margin: -10px 10px 10px 10px;
 
}

.popmode img {
  width: 100%;
  height: 90%;
  }

  .btnapropos {
    background-color: white;
    color:#081f37;
    border: none;
    padding: 5px;
    border-radius: 15px;
  }

/* Travailleur */

#TravailleurSection {
  padding-top: 20px;
  background-color: rgb(35, 168, 178);
}

#TravailleurSection p {
  padding-left:10%;
  padding-right: 10%;
}

#TravailleurSection .txtTravail {
  text-align: center;
  color: #fff;
}

.bntReserver {
  display: flex;
}

#Acoiffé {
  height: 30vh;
  grid-template-columns: 1fr 1fr 1fr;
}

/* levelTraval */

#levelTraval {
  display: flex;
  flex-direction: row;
  height: 40vh;
  background-color: black;
  opacity: 0.7;
  margin-bottom: -20px;
  width: 100vw;
}

.quantité {
  width: 21%;
}

.quantité h2 {
  color: #fff;
  margin-top: 13vh;
  margin-left: 20px;
}

.row {
display: flex;
flex-direction: row;
margin-top: 2vh;
color: #fff;
}

.tiretLike {
  width: 2px;
  height: 80%;
  margin: 20px 5px 5px 10%;
  background-color: #fff;
}
/* footer */
#footer {
  display: flex;
  flex-direction: row;
  height: 75vh;
  background-color: #fff;

}

#localisation {
background: url(/Media/imgaes/gps.png) no-repeat;
background-size: cover;
width: 50%;
height: 100%;
}

#contact {
width: 50%;
height: 100%;
}

#contact h2 {
  text-align: center;
}

.form0 {
  max-width: 80%;
  margin: 0 auto;
}

.inp-name, .inp-email {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid  #081f37;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.inp-text {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid  #081f37;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.submit0 {
  background-color: #081f37;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.error-message {
  color: red;
  margin-top: 10px;
}

#menumobie {
  display: none;
}

#btnbars , #btntimes { 
  display: none;
}

#menumobile li {
  display: none;
}

.clientprogramme {
  height: 100%;
  width: 200px;
  border: #fff solid 1px;
  margin: 3px;
  padding: 30px;
}
 
#Acoiffé_container {
  display: flex; 
  flex-direction: row;
}

#Acoiffé_container h2{
  color: #fff;
}


/* Reservation de place */

 #programmer {
  display: flex;
  flex-direction: row;
  background-color: black;
  opacity: 0.9;
 }

.reservation_containeur {
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 30px 10px 30px 10px;
  border: #081f37 solid 1px;
}

.reservation-container h2 {
  font-size: 24px;
  color: #333;
}

.reservation_containeur p {
  font-size: 16px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

#clientNom {
  width: 90%;
  padding: 10px;
  margin: 5px 3.7%;
  border: 1px solid #081f37;
  border-radius: 5px;
  font-size: 16px;
}
input[type="number"],
input[type="date"],
input[type="time"] {
  width: 90%;
  padding: 10px;
  margin: 5px 3.7%;
  border: 1px solid #081f37;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #081f37;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #081f37;
}

.dispoHeursDiv {
  display: flex;
  flex-wrap: wrap;
}

.dispoHeurs_containeur {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 30px 10px 30px 10px;
  border: #081f37 solid 1px;
}

.opening-hours-container h2 {
  font-size: 24px;
  color: #333;
}

.dispoHeurs {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dispoHeurs h3 {
  font-size: 18px;
  color: #081f37;
}

.dispoHeurs p {
  font-size: 16px;
  color: #666;
}


/* Section boutique */

/* Style de la section de la boutique */
#boutique {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

/* Style des produits */
.produit {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  border: 1px solid #081f37;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
}

/* Style des images de produits */
.produit img {
  width: 80%;
  height: 150px;
}

/* Style des titres de produits */
.produit h3 {
  font-size: 18px;
  margin: 10px 0;
}

/* Style des descriptions de produits */
.produit p {
  font-size: 14px;
  color: #666;
}

/* Style des prix de produits */
.produit .prix {
  font-size: 20px;
  color: #007BFF;
  font-weight: bold;
}

/* Style des boutons "Ajouter au panier" */
.produit button {
  background-color: #081f37;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.produit button:hover {
  background-color: #0056b3;
}

/* footer pour la zone du developpeur web */

.Portfolio span{
 color: tomato;
}

.Portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Portfolio p {
  font-size: 16px;
}


.Portfolio a {
  text-decoration: none;
  color: #081f37;
  font-weight: bold;
  font-size: 18px;
}

.Portfolio a:hover {
  color: #e6330a;
}

#copy {
  display: block;
  text-align: center;
  font-size: larger;
  color: #fff; 
}

#acheter {
  margin-left: 20px;
}

.Portfolio img {
  width: 30px;
  height: 20px;
}

.buttons a {
  text-decoration: none;
}

section {
  transition: 0.5s;
}